<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Play Secret Hitler</title>
    <link href="resources/templates/styles/global.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="resources/templates/styles/client.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
    <header>
        <img src="resources/sprites/logo.png" alt=""/>
        <h1>Play Secret Hitler</h1>
    </header>

    <form>
        <div id="formStatus">
            <h2>Game Status</h2>
            <div class="grid">
                <label>Room name:</label>
                <input type="text" id="inputTextRoomName"/>
                <label>Password:</label>
                <input type="password" id="inputTextPassword"/>
                <label>Nickname:</label>
                <input type="text" id="inputTextNickname"/>
            </div>
            <img src="resources/sprites/buttons/confirm.png" alt="" id="btnConfirm" class="btn--confirm"/>
        </div>
        <div id="formRole" class="hidden">
            <h2>Current Role</h2>
            <div class="card">
                <div class="card--front">
                    <img src="resources/sprites/cards/partyBack.png" alt=""/>
                </div>
                <div class="card--back">
                    <img src="resources/sprites/cards/roleBack.png" alt=""/>
                </div>
            </div>
        </div>
        <div id="formVote" class="hidden">
            <h2>Choose Your Vote</h2>
            <img src="resources/sprites/cards/voteJa.png" alt="" id="btnVoteJa" class="btn--vote0"/>
            <img src="resources/sprites/cards/voteNein.png" alt="" id="btnVoteNein" class="btn--vote1"/>
        </div>
        <div id="formPolicies" class="hidden">
            <h2>Policies Management</h2>
            <p id="policiesDescription">You have no policies to work with.</p>
            <div id="policies">
                <img alt="" id="policy0" class="policy hidden"/>
                <img alt="" id="policy1" class="policy hidden"/>
                <img alt="" id="policy2" class="policy hidden"/>
            </div>
        </div>
        <div class="pages">
            <img src="resources/sprites/buttons/formStatus.png" alt="" id="btnFormStatus"/>
            <img src="resources/sprites/buttons/formRole.png" alt="" id="btnFormRole"/>
            <img src="resources/sprites/buttons/formVote.png" alt="" id="btnFormVote"/>
            <img src="resources/sprites/buttons/formPolicies.png" alt="" id="btnFormPolicies"/>
            <img src="resources/sprites/buttons/seeRules.png" alt="" id="btnSeeRules"/>
        </div>
    </form>

    <h1 class="small-screen-error">Please, use wider screen!</h1>

    <script type="text/javascript" src="resources/templates/scripts/client.js"></script>
</body>
</html>
