<!doctype html>
<html>
    <meta charset="utf-8"/>
    <title>Host a Room - Secret Hitler</title>
    <link href="resources/templates/styles/global.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="resources/templates/styles/game.css" rel="stylesheet" type="text/css" media="all"/>
<body>
    <header>
        <img src="resources/sprites/logo.png" alt=""/>
        <h1>Secret Hitler</h1>
    </header>

    <h1 class="small-screen-error">Please, use wider screen!</h1>

    <script type="text/javascript" src="resources/templates/scripts/game.js"></script>
</body>
</html>
