<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Host a Room - Secret Hitler</title>
    <link href="resources/templates/styles/global.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="resources/templates/styles/host.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
    <header>
        <img src="resources/sprites/logo.png" alt=""/>
        <h1>Host a Room</h1>
    </header>
    <form>
        <label>Room name:</label>
        <input type="text" value="NewRoom"/><br/>
        <!--input type="text" value="Password"/><br/>
        <input type="checkbox"/>
        <span>Use password</span><br/-->
        <input type="submit" value="Create"/>
    </form>

    <h1 class="small-screen-error">Please, use wider screen!</h1>
</body>
</html>
