footer > img {
    position: absolute;
    right: 2vw;
    bottom: 0;
}

.pages {
    margin-left: 1vw;
    padding: 10px;
}
.pages > img {
    padding: 0.5vw;
    height: 7vh;

    border-radius: 50%;
    cursor: pointer;
}

.grid {
    margin-top: 20vh;
    display: grid;
    grid-template-columns: 43% 53%;
    grid-column-gap: 1%;
    grid-row-gap: 10px;
}
.grid > label {
    margin-top: 5px;
    color: #fff;
}

.card {
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    height: 50vh;
    cursor: pointer;
}
.card--front, .card--back {
    width: inherit;
    height: inherit;
    position: absolute;
    overflow: hidden;
    backface-visibility: hidden;
    transition: 1s;
}
.card--front img, .card--back img {
    width: 100%;
}
.card--front {
    transform: perspective(1500px) rotateY(0deg);
}
.card--back {
    transform: perspective(1500px) rotateY(180deg);
}
.card:hover > .card--front {
    transform: perspective(1500px) rotateY(-180deg);
}
.card:hover > .card--back {
    transform: perspective(1500px) rotateY(0deg);
}

.btn--vote0, .btn--vote1 {
    height: 70vw;
    transition: 1.3s;
    cursor: pointer;
}
.btn--vote0 {
    transform: rotate(-90deg); 
}
.btn--vote1 {
    transform: rotate(-90deg) translateX(9vh);
}
.btn--vote0--chosen {
    transform: rotate(0deg) scale(1.5) translateY(10vh);
}
.btn--vote1--chosen {
    transform: rotate(0deg) scale(1.5) translateY(-16vh);
}

#formPolicies > p {
    margin-top: 10vh;

    font-size: 2vh;
    color: #fff;
}
#policies {
    margin-top: 15vh;
}
#policies > img {
    margin-right: 10px;
    margin-left: 10px;
    height: 15vh;
    cursor: pointer;
    border-radius: 1vh;
    transition: 0.3s;
}
#policies > img:hover {
    transform: scale(1.05)
}
