form {
    margin-top: 100px;
    height: 350px;

    position: relative;
}
form h2 {
    margin-bottom: 20px;
}
.pages {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.pages > img {
    height: 35px;

    border-radius: 50%;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: 35% 61%;
    grid-column-gap: 1%;
    grid-row-gap: 10px;
}
.grid > label {
    margin-top: 5px;
    color: #fff;
}

#formRole > img {
}
#formRole > p {
    color: #fff;
}

.btn--vote {
    z-index: 10;
    height: 200px;
    transition: 1.3s;
}
.btn--vote--chosen {
    transform: rotate(-90deg) scale(1.5);
}

#formPolicies > p {
    color: #fff;
}
