form {
    margin-top: 100px;
    height: 350px;

    position: relative;
}
form h2 {
    margin-bottom: 20px;
}
.pages {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.pages > img {
    height: 35px;

    border-radius: 50%;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: 35% 61%;
    grid-column-gap: 1%;
    grid-row-gap: 10px;
}
.grid > label {
    margin-top: 5px;
    color: #fff;
}

.card {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 200px;
    cursor: pointer;
}
.card--front, .card--back {
    width: inherit;
    height: inherit;
    position: absolute;
    overflow: hidden;
    backface-visibility: hidden;
    transition: 1s;
}
.card--front img, .card--back img {
    height: 100%;
}
.card--front {
    transform: perspective(600px) rotateY(0deg);
}
.card--back {
    transform: perspective(600px) rotateY(180deg);
}
.card:hover > .card--front {
    transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .card--back {
    transform: perspective(600px) rotateY(0deg);
}

.btn--vote--chosen {
    transform: rotate(-90deg) scale(1.5);
}
.btn--vote0, .btn--vote1 {
    height: 200px;
    transition: 1.3s;
    cursor: pointer;
}
.btn--vote0 {
    transform: rotate(0deg); 
}
.btn--vote1 {
    transform: rotate(0deg);
}
.btn--vote0--chosen {
    transform: rotate(-90deg) scale(1.5) translateY(4vw);
}
.btn--vote1--chosen {
    transform: rotate(-90deg) scale(1.5) translateY(-3.8vw);
}

#formPolicies > p {
    color: #fff;
}
#policies {
    margin-top: 30px;
}
#policies > img {
    margin-right: 10px;
    margin-left: 10px;
    height: 100px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}
#policies > img:hover {
    transform: scale(1.05)
}

