.grid {
    margin-top: 150px;
    margin-bottom: 170px;
    display: grid;
    grid-template-columns: 43% 53%;
    grid-column-gap: 1%;
    grid-row-gap: 10px;
}
.grid > label {
    margin-top: 5px;
    color: #fff;
}

#btnConfirm {
    width: 100px;
}

.card {
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    height: 50vh;
    cursor: pointer;
}
.card--front, .card--back {
    width: inherit;
    height: inherit;
    position: absolute;
    overflow: hidden;
    backface-visibility: hidden;
    transition: 1s;
}
.card--front img, .card--back img {
    width: 100%;
}
.card--front {
    transform: perspective(1500px) rotateY(0deg);
}
.card--back {
    transform: perspective(1500px) rotateY(180deg);
}
.card:hover > .card--front {
    transform: perspective(1500px) rotateY(-180deg);
}
.card:hover > .card--back {
    transform: perspective(1500px) rotateY(0deg);
}

.btn--vote0, .btn--vote1 {
    margin-top: 50px;
    width: 400px;
}

#formPolicies > p {
    margin-top: 100px;

    font-size: 40px;
    color: #fff;
}
#policies {
    margin-top: 100px;
}
#policies > img {
    margin-right: 10px;
    margin-left: 10px;
    height: 300px;
    cursor: pointer;
    border-radius: 1vh;
    transition: 0.3s;
}
#policies > img:hover {
    transform: scale(1.05)
}

.pages {
    position: absolute;
    left: 10px;
}
.pages > img {
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline;
    height: 200px;
    min-height: 10vh;
}
footer > img {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 200px;
    position: absolute;
    bottom: 0;
    right: 10px;
    border-radius: 50px;
}
