@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../../sprites/background.jpg");
    background-size: auto;
    font-family: 'Ubuntu', sans-serif;
}

header {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    height: 70px;

    position: relative;

    background-color: #000015;

    text-align: center;
}
header > img {
    padding: inherit;
    width: auto;
    height: inherit;

    position: absolute;
    left: 0;
    top: 0;

    border-radius: 30%;
}
header >  h1 {
    padding-top: inherit;
    color: #fff;
}
@media (min-width:231px) and (max-width:400px) {
header > img {
    display: none;
}
}
@media (max-width:230px) {
header > h1 {
    display: none;
}
header > img {
    position: relative;
    top: -10px;
}
}

.btn--confirm {
    margin-top: 30px;
    width: 50px;
    height: auto;
    
    text-align: center;

    transition: 0.2s;
    border-radius: 50%;
}

.btn--confirm:hover {
    margin-top: 28px;
    width: 54px;

    cursor: pointer;
}
