@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
color palette:
#ee5e41 - red
#393939 - grey
#fffeff - white

#877d56 - green

#000015 - matte blue
#333344 - lighter blue
#eec48b - light yellow
*/

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #877d56;
}

header, footer{
    width: 100vw;
    background-color: #393939;
}
header {
    height: 10vh;

    text-align: center;
}
h1,h2,h5 {
    color: #fffeff;
}
header > h1 {
    padding-top: 1.5vh;
    font-size: 5vh;
    line-height: 5vh;
    font-weight: bolder;
}
header > h5 {
    font-size: 1.5vh;
    line-height: 1.5vh;
    font-weight: normal;
}
footer {
    padding-top: 1vh;
    padding-bottom: 1vh;
    height: 10vh;

    position: fixed;
    bottom: 0;
}
footer > img {
    padding-top: inherit;
    padding-bottom: inherit;
    height: inherit;

    border-radius: 30%;
}

form {
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
    padding: 2vh;
    width: 90vw;
    height: 76vh;
    
    background-color: #393939;
    border-radius: 2vh;
}
form > h2 {
    text-align: center;

    font-size: 3vh;
    line-height: 3vh;
}
@media (max-width:500px) {
form {
    display: none;
}
}
.small-screen-error {
    font-size: 50pt;
}
@media (min-width:501px) {
.small-screen-error {
    display: none;
}
}
