@media (max-width:500px) {
form {
    display: none;
}
}
@media (min-width:501px) {
.small-screen-error {
    display: none;
}
}

form {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 400px;
    height: auto;

    text-align: center;

    background: #333344;
}

form > label {
    margin-right: 30px;

    color: #fff;
}

form > input {
    margin: 5px;
    width: 200px;

    text-align: center;
}

.small-screen-error {
    font-size: 18pt;
    color: #eef;
    text-align: center;
}
