form {
    margin-top: 150px;
    height: 240px;
}

form > h2 {
    margin-bottom: 40px;
}

form > .grid {
    display: grid;
    grid-template-columns: 35% 8% 55%;
    grid-column-gap: 1%;
    grid-row-gap: 10px;
}
.grid > input[type=text] {
    grid-column: 2/4;
}
.grid > label {
    margin-top: 5px;
    color: #fff;
}
.grid > input[type=checkbox] {
    margin-top: 5px;
}
